@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@font-face {
    font-family: 'fair';
    src: url('FONTS/NewAmsterdam-Regular.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --color0: #F2F2F2;
    --color1: #9bcdd4;
    --color2: #f2050508;
    --color3: #096606;
    --color4: #09a6036e;
    --color5: #2274b15e;

    --default-font: Arial, Verdana, Helvetica, sans-serif;
    --highlighted-font: 'Sevillana', cursive;
    --fair-font: 'fair', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--default-font);
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--highlighted-font);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--default-font);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--color5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;

}

nav > button{
    border-radius:5px;
    color:white;
    background-color: var(--color1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;
}

nav > button > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > button > a:hover {
    border-radius:5px;
    padding: 10px;
    color: white;
    background-color:var(--color5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    margin: 5px;
    color: var(--color5);
    font-family: var(--fair-font);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    border-radius: 5px;
    margin: 5px;
    font-family: var(--fair-font);
    color: var(--color3);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--color5), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--color4);
    font-weight: bolder;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--color1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color3);
}

main img {
    height: 25%;
    width: 25%;
    border-radius: 10px;
    width: 50%;
}

aside {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--color4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    font-weight: bolder;
    list-style-type: disclosure-closed;
    list-style-position: inside;
    columns: 2;
}

footer {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--color5);
    color: var(--color3);
    font-weight:bold;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p{
    margin: 8px;
}

footer > p > button{
    border-radius:5px;
    background-color: var(--color5);
    padding: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;
}

footer > p > button > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

footer > button > a:hover {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: var(--color3);
}

footer > p > button > a:active {
    color:white;
    text-decoration:dotted;
    border-radius:5px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: var(--color5);
}

footer > p > button > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

footer > p > button > a:hover {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

footer > p > button > a:active {
    color:white;
    text-decoration:dotted;
    border-radius:5px;
    padding: 10px;
    color: white;
    background-color:var(--color5);
}
